src/main/resources/schemas/creativeCommons.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/files/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/files/">

  <xs:element name="License-Url" type="xs:string" />
  <xs:element name="License-Location" type="xs:string" />
  <xs:element name="Work-Type" type="xs:string" />

</xs:schema>